*.swp
.DS_Store
output.diff
output/Scratch/map.yrf
output/index.html
tmp/
recupen.pl
recupfr.pl
.sass-cache
crash.log

# output/Scratch/**/index.html
output/Scratch/*/index.html
output/Scratch/*/*/index.html
output/Scratch/*/*/*/index.html
output/Scratch/*/*/*/*/index.html
output/Scratch/*/*/*/*/*/index.html
output/Scratch/*/*/*/*/*/*/index.html
crash.log
