#!/usr/bin/env ruby

# engendrement des fichiers html

# page d'Accueil
#route '/' do
#    '/index.html'
#end

# CSS
compile '/css/*' do
    filter :sass
end
route '/css/*' do
    '/Scratch/assets' + item.identifier.chop + '.css'
end

compile '/css/raw/*' do
end
route '/css/raw/*' do
    '/Scratch' + item.identifier.sub(/raw\//,'').chop + '.css'
end

# JS
compile '/js/*' do
end
route '/js/*' do
    '/Scratch/assets' + item.identifier.chop + '.js'
end


# HTML
compile '/html/*' do
  filter :erb
  filter :bluecloth
  layout 'default'
end
route '/html/*' do
  '/Scratch' + item.identifier.sub('/html','') + 'index.html'
end

layout '*', :erb

