---
title: Bienvenue
noSubMenu: true
no_entete: true
---
<% content_for :title do %>
<span style="font-weight: normal; font-size: 2.5em; margin-top: 0; line-height: 1ex">
            <span style="letter-spacing:-.20em">Ya</span><span style="display:inline-block; width:.1em;"></span><span style="letter-spacing: -.12em">nn</span> 
            <span style="letter-spacing: -.10em">Esposito</span> 
        </span>
<% end %>
<% content_for :subtitle do %>
    <span style="letter-spacing: 2.7em; color: #111;">Yogsototh</span>
<% end %>

            <div class="flush"></div>

        <div class="block left">
            <h3>
                <a href="/Scratch/fr/blog/" onclick="setLanguage('fr')">
                    Blog
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Ordinateurs, philosophie <i>&amp;</i> des choses de la vie. 
            </p>
        </div>
        <div class="block left">
            <h3>
                <a href="/Scratch/fr/softwares" onclick="setLanguage('fr')">
                    Logiciels
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Des économiseurs d'écran,
            un gestionnaire de mots de passe <i>&amp;</i>
            des applications scientifiques.
            </p>
        </div>
        <div class="block right">
            <h3>
                <a href="/Scratch/fr/about/contact" onclick="setLanguage('fr')">
                    Contact
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Au diable la timidité, n'hésitez pas à me contacter, je serai ravi de <i>vous</i> parler.
            </p>
        </div>
        <div class="flush"></div>
        <div class="block left">
            <h3>
                <a href="http://j.mp/btfRJ2">
                    Curriculum Vitæ
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Doctorat &rarr; Post Doc &rarr; Consultant<br/>
            <i>Geek &rarr; G33K &rarr; G33|&lt;
            </i>
            </p>
        </h4>
        </div>
        <div class="block left">
            <h3>
                <a href="http://yann.esposito.free.fr/enseignement/enseignement.php">
                    Enseignement
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Informatique:<br/>
            TD, TD <i>&amp;</i> solutions<br/>
            BAC+1 à BAC+5<br/>
            <i><a href="http://yann.esposito.free.fr/enseignement/projetrez0/projetrez0.html">Projet réseau anonyme
                        <span class="nicer">»</span></a>
            </i>
             </p>
        </div>
        <div class="block right">
            <h3>
                <a href="http://web.me.com/yann.esposito/Perso/Welcome.html">
                    Photos
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            <a href="mailto:yannesposito@gmail.com?Subject=Permission%20site%20famille" >
            Cliquez ici pour avoir le mot de passe.
                    <span class="nicer">»</span>
            </a>
            </p>
        </div>
        <div class="flush"></div>
