---
title: Home
noSubMenu: true
no_entete: true
---
<% content_for :title do %>
<span style="font-weight: normal; font-size: 2.5em; margin-top: 0; line-height: 1ex">
            <span style="letter-spacing:-.20em">Ya</span><span style="display:inline-block; width:.1em;"></span><span style="letter-spacing: -.12em">nn</span> 
            <span style="letter-spacing: -.10em">Esposito</span> 
        </span>
<% end %>
<% content_for :subtitle do %>
    <span style="letter-spacing: 2.7em; color: #111;">Yogsototh</span>
<% end %>

            <div class="flush"></div>
            <div class="block left">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/blog/" onclick="setLanguage('en')">
                        Blog
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Computer, Philosophy <em>&amp;</em> Life.
                </p>
            </div>
            <div class="block left">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/softwares" onclick="setLanguage('en')">
                        Softwares
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Password Manager,
                Screensavers  <em>&amp;</em>
                Scientific Applications.
                </p>
            </div>
            <div class="block right">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/about/contact" onclick="setLanguage('en')">Contact 
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Don't be shy, I'll be happy to talk to <i>you</i>.
                </p>
            </h3>
        </div>

        <div class="flush"></div>
