-----
# Custom 
title: Curriculum Vitæ
menupriority: 1

-----
<p><a href="http://j.mp/btfRJ2">La dernière version de mon curriculum vitæ sur iWork</a>.</p>
<hr/>
<p class="small"> 
Si vous souhaitez pouvoir télécharger ce document en format PDF, iWorks ou Word, merci de me communiquer votre email. Je pourrais vous ajouter à la liste des invité. Il me semble qu'il s'agit d'un bug de la part d'Apple sur ce service encore en Beta.
</p>
