html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* --- recuperation des couleurs --- */

body {
  font-family: "Sabon LT Std","Hoefler Text","Palatino Linotype","Book Antiqua",serif;
  background-color: #fff;
  color: #000; }

a {
  font-weight: bold;
  text-decoration: none; }

a, a:link {
  color: #a00;
  outline: none; }

a:visited {
  color: #a00;
  outline: none; }

a:active, a:hover {
  color: #f00;
  outline: none; }

ul {
  list-style: square; }

.corps {
  text-align: justify; }

#liens {
  border-top: dotted 1px #cacaca; }

#liens ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

#choix ul,
#sousliens ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px; }

#liens,
#sousliens {
  font-weight: bold; }

#entete {
    background-color: #333;
    color: #ddd;
    text-align: right;
    top: 2em;
    left: 0;
    position: absolute;
    z-index: 2000;
}
#entete img {
    background-color: transparent;
}
#entete a, #entete a:link {
  color: #d33;
  outline: none; }

#entete a:visited {
  color: #d33;
  outline: none; }

#entete a:active, #entete a:hover {
  color: #f33;
  outline: none; }

#menuButton {
    top: 2em;
    left: 0;
    height: 22em;
    width: 10em;
    line-height: 3em;
    text-align: center;
    position: absolute;
    z-index: 1;
}
#content {
    margin-left: 12em;
    width: 52em;
}
pre {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    font-family: "Courrier New", fixed;
    font-size: 1em;
    line-height: 1.2em;
    background-color: #333; }
.corps {
    padding: 3em 5em;
    margin: 3em 0; }
body { font-size: 1em; line-height: 1.5em; }
h1 { color: #800; font-size: 1.5em; line-height: 1.5em; padding: .5em; margin: .5em; text-align: center;}
h2,h3,h4 { font-size: 1.2em; line-height: 1.2em; padding: .3em; margin: .3em; text-align: center;}
#liens {
  width: 10em ;
  text-align: right ;
  padding-top: .5em ; }
#liens ul {
  padding-right: .3em ; }
#liens ul li a,
#liens ul li span {
  width: 100%;
  display: block;
  line-height: 2em }
#choixlang ul {
  display: inline;
  padding-left: 0 }
#choixlang ul li {
  display: inline;
  padding-left: .3em;
  padding-right: .3em;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 1.2em }
#iemessage {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold; }
#choix ul li.activelang {
    border: dotted 1px;
    border-color: #ddd;
}
#sousliens {
    background-color: #333;
    color: #ddd;
}
.red, .black, .encadre {
    padding: 2em;
    margin: 2em;
}
.red {
    font-weight: bold;
    color: #300;
}
.black {
    font-weight: bold;
}
.encadre {
    border: solid #800 3px;
}
/* LAYOUT */
pre {
  overflow: hidden; }

.withfile pre {
  overflow: hidden;
  width: 96.6%; }

.navigationprev, .navigationnext {
  padding: 0px;
  margin-left: .2em;
  margin-right: .2em;
  margin-bottom: 0;
  margin-top: 3em;
  width: 45%; }

.navigation .navigationprev,
.navigation .navigationnext {
  width: 30%;
  margin-top: 0; }

.navigation {
  font-size: 2em; }

.presarticleleft,
.presarticleright {
  font-size: 1em; }

.navigationprev {
  float: left;
  text-align: left; }

.navigationnext {
  float: right;
  text-align: right; }

