.navigationprev, .navigationnext {
    text-shadow: 0 0 3px #aaa; }
#titre, h1 { 
    text-shadow: 0px 0px 3px #333; }
.corps, #bottom, #sousliens, .date{ 
    box-shadow: 0px 2px 5px #333; }
#titre, #entete { 
    box-shadow: 0px 0px 5px #000; }
