-----
# Built-in
filters_pre:
    - erb

# Custom 
title: Curriculum Vitæ
multiTitle:
    fr: Curriculum Vitæ
    en: Resume
multiSubTitle: 
    fr: résumé rapide
    en: Short Abstract
menupriority: 1

-----

<div style="text-align: center">
<div class="fr">
<a href="/Scratch/files/cv.pdf">
<img class="inside" src="/Scratch/img/about/cv/cv.png" alt="preview cv"/>
&darr; La version pdf
</a>
</div>
<div class="en">
<a href="/Scratch/files/cv_en.pdf">
<img class="inside" src="/Scratch/img/about/cv/cv.png" alt="preview cv"/>
&darr; pdf version
</a>
</div>
</div>

newcorps

<h1>
    
    Professional background
</h1>



    <desc Professionnal background>
    from 2007 : Airfrance consultant, Astek, Sophia Antipolis, France ::
    2006-2007 : Post PhD in the Laboratory Hubert Curien, Saint-Etienne, France ::
    2004-2006 : ATER, (College Degree Teacher)  ::
    2001-2004 : Allocataire Moniteur (PhD student with a grant + a teach grant)  ::
    1999-2000 : College degree teaching ::
    </desc>


newcorps

<h1> 
    
    Education
</h1>


  
    <desc>
    2004 : PhD Degree in computer science in the 
        <a href="http://www.lif.univ-mrs.fr"><abbr title="Laboratoire d'Informatique Fondamentale">LIF</abbr></a>,
        <a href="http://www.up.univ-mrs.fr/"> Université de Provence</a>,
        Marseille (France) ::
    2001 : DEA in computer science ::
    2000 : Maîtrise in computer science ::
    1999 : Licence in computer science ::
    1998 : DEUG MIAS (Math) ::
    1995 : BAC S ::
    </desc>


newcorps

<h1>
    
    Research activities
    
</h1>

<h4>
     
    Background
</h4>
     
    <ul> 
        <li>Machine Learning, </li> 
        <li>Data Mining, </li> 
        <li>Grammatical Inference </li> 
    </ul>  
     
    

    <h4>
        
         studied objects
    </h4>

    
    <ul>
        <li>Markov chains,</li>
        <li>Hidden Markov Models, </li>
        <li>Multiplicity Automata, </li> 
        <li>Weighted Transducer, </li>
        <li>Tree Weighted Automata, </li>
        <li>Tree Edit Distance</li>
    </ul>  
    
    

<h4>
    
     main theoretical results 
</h4>
    <ul class="long">
        <li> 
        
        Multiplicity Automata Algorithm which identifie the class of
        rational stocastic languages in the limit with probability one, 
        </li>
        <li>
        
         The problem to know whether an MA generates a
        probabilistic distribution is undecidable (was left open in 
        Probabilistic Automata, Azaria Paz, 1977), 
        </li>
        <li> 
        
        Algorithm of identification in the limit with
        probability one of some subclass of non deterministic <abbr title="Hidden Markov Model">HMM</abbr> 
        </li>

    </ul>

<h2>
     
      Softwares 
</h2>

<h4><a href="http://yann.esposito.free.fr/sedil.php">SEDiL</a></h4>
<p>

 <a href="http://yann.esposito.free.fr/sedil.php?lang=en">SEDiL</a>: 
    Software aimed to learn tree edit distances.
    Developped in JAVA (11.000 lines with javadoc comments) ; 

</p>

<p>

 main features: 
</p>
    <ul class="petit">
        <li>
        
         edition operations cost matrix learning, 
        </li>
        <li>
        
         tree or string edit distance computation, 
        
        </li>
        <li>
        
         
        tree and strings visualisation,
        </li>
        <li>
        
         
        classification using the K nearest 
        neighbor algorithm, 
        </li>
        <li>
        
         
        Tree pairs generation, 
        </li>
    </ul>

    <h4> <a href="http://yann.esposito.free.fr/dees.php">DEES</a> </h4>

    
    
    <a href="http://yann.esposito.free.fr/dees.php">DEES</a>:
    Software of Multiplicity Automata inference 
    written in C++ (7.500 lines, 10.000 with comments) ; 
    
    <p>
    
    Main features: 
    </p>
    <ul class="petit">
        <li>
        
         Multiplicity Automata Inference, 
        </li>
        <li>
        
         Probabilistic Automata Inference 
        (Hidden Markov Model Inference ; learn Parameters 
        and <b>Structure</b>), 
        
        </li>
        <li>
        
         
        Deterministic Probabilistic Automata Inference 
        </li>
        <li>
        
         Baum Welch Algorithm
        (learn parameter of an 
        <a href="http://en.wikipedia.org/wiki/Hidden_Markov_model">
            <abbr title="Hidden Markov Model">HMM</abbr></a> from a sample), 
        </li>
        <li>
        
         
        <a href="http://www.graphviz.org">GraphViz</a> export, 
        </li>
        <li>
        
         
        Sample generation from an MA, 
        </li>
        <li> And many others... </li>
    </ul>

newcorps

<h1>
    
     Scientific Publications 
</h1>

<desc>

    
     International Journal 
    : 
    [Fundamenta&nbsp;Informaticæ,&nbsp;2008] 
    [Pattern&nbsp;Recognition,&nbsp;2004] 
    ::

    
     French Journal 
    : 
    [JEDAI&nbsp;2003] 
    ::


International conferences
: 
        [ECML&nbsp;2008] [ICGI&nbsp;2006] [COLT&nbsp;2006] [COLT&nbsp;2004] 
        [ICALP&nbsp;2003] [ICGI&nbsp;2002] ::
    
    
    Conférences nationales  : [CAp'06] [CAp'04] [CAp'03] ::
    Workshop                : [TAGI'05] ::
    
     PhD Thesis 
        : [Université&nbsp;de&nbsp;Provence&nbsp;2004] ::
</desc>

newcorps

<h1>
    
     Skills 
</h1>

<desc>

    
     Computer languages 
:
    <ul class="strong horizontal">
        <li> Perl,          </li>
        <li> Ruby,          </li>
        <li> Awk,           </li>
        <li> Python,        </li>
        <li> Java,          </li>
        <li> C++,           </li>
        <li> C,             </li>
        <li> Objective-C,   </li>
        <li> PHP,           </li>
        <li> scripts shell (zsh et bash), </li>
        <li> LaTeX, ConTeXt, Metapost     </li>
    </ul>
    <ul class="horizontal">
        <li> CamL </li>
    </ul>
::

    WEB :
    <ul class="horizontal">
        <li> HTML, </li>
        <li> XHTML, </li>
        <li> CSS, </li>
        <li> SVG,  </li>
        <li> PHP,  </li>
        <li> MySQL,  </li>
        <li> PostGreSQL </li>
    </ul>
::

    
     Computer Networks 
:
    <ul class="horizontal">
        <li> Ethernet, </li>
        <li> TCP/IP, </li>
        <li> UDP, </li>
        <li> DHCP, </li>
        <li> DNS, </li>
        <li> tcpdump, </li>
        <li> ethereal, </li>
        <li> VPN </li>
    </ul>
::

    
     Security 
:
    <ul class="horizontal">
        <li>
        
         Encryption, 
        </li>
        <li> PGP, GPG, </li>
        <li> 
        
         Anonymous Networks, 
        </li>
        <li> Network security</li>
    </ul>
::

    
     Project Management 
:
    <ul class="horizontal">
        <li> UML, </li>
        <li> Merise, </li>
        <li> SVN, </li>
        <li> CVS </li>
    </ul>
::

    API
:
    <ul class="horizontal">
        <li> System V, </li>
        <li> POSIX, </li>
        <li> STL (C++), </li>
        <li> Cocoa (Mac OS X) </li>
    </ul>
::

    
     Software 
:
    <ul class="horizontal">
        <li> Entreprise Miner (SAS), </li>
        <li> Weka, </li>
        <li> Quartz Composer </li>
    </ul>
::

    
     Learning Methods 
:
    <ul class="horizontal small">
        <li>
        
        
        Attribute&nbsp;selection,
        
        </li>
        <li>
        Naïve&nbsp;Bayes, 
        </li>
        <li>
        
        
        Decision&nbsp;Tree,
        
        </li>
        <li>
        
        
        K&nbsp;nearest&nbsp;neighboor,
        
        </li>
        <li>
        
        
        Markov&nbsp;Chains (bigrams,&nbsp;trigrams...),
        
        </li>
        <li>
        
        
        Hidden&nbsp;Markov&nbsp;Models (<abbr title="Hidden Markov Model">HMM</abbr>),
        
        </li>
        <li>
        
        
        Neural&nbsp;Network (Multilayer&nbsp;Perceptron),
        
        </li>
        <li>
        SVM,
        </li>
        <li>
        Boosting 
        </li>
    </ul>
::

</desc>

newcorps

<h1>
    
     Miscellaneous 
</h1>

<h4>
    
     Network Project 
</h4>

<p>
    
     
    I have done with
    <a href="http://www.lif.univ-mrs.fr/~egodard"> Emmanuel Godard </a>
    the conception of an 
    <a href="http://www.lif.univ-mrs.fr/~esposito/enseignement/rez0.php">
        anonymous network protocol (- in french -)</a>.
    
</p>

<h4>
    
     Mac Softwares 
</h4>
<p>
    
     I've done some
        <a href="http://yannesposito.com/YBlog/Softwares.html" >Mac sofwares</a>.
        Such as screen saver using Quartz Composer, Dashboard widgets and
        Objective-C.
    
</p>

<h4>  Web </h4>
<p>
    
    <%= lnkto("You can see details on how I did this website","/about/technical_details"); %>.
</p>

