-----

-----
* 
  transition-property: all
  transition-duration: 0.5s
  -moz-transition-property: all
  -moz-transition-duration: 0.5s
  -webkit-transition-property: all
  -webkit-transition-duration: 0.5s
  -o-transition-property: all
  -o-transition-duration: 0.5s

#social *, #comment *
  transition-property: all
  transition-duration: 0s
  -moz-transition-property: all
  -moz-transition-duration: 0s
  -webkit-transition-property: all
  -webkit-transition-duration: 0s
  -o-transition-property: all
  -o-transition-duration: 0s
