-----
-----

$behindColor: #111
$mainBackgroundColor: #fff
$revealColor: #FF0000
$mainLinkColor: #111
$highlightColor: #888
$lighterColor: #eee
$lighterColorBorderTop: #fafafa
$lighterColorBorderBottom: #ddd
$codeBlockColor: $mainBackgroundColor
$codeBlockBackgroundColor: $behindColor

@mixin mainColor
  color: $behindColor
  background:
    color: $mainBackgroundColor

@mixin highlight
  font:
    style: italic
  padding: 0.5em 1em
  color: $highlightColor
  a:hover
    color: $revealColor
  strong, b, i, .strong
    font:
      weight: normal
      style: normal
    color: $behindColor

@mixin secondColor
  color: $behindColor
  background:
    color: $lighterColor
  border:
    top: 1px solid $lighterColorBorderTop
    bottom: 1px solid $lighterColorBorderBottom

@mixin revealColor
  color: $revealColor

@mixin codeColor
  background:
    color: $codeBlockBackgroundColor
  color: $codeBlockColor

table.description tr td
  border: 1px solid $lighterColor

.assombris20
  background-color: $lighterColor

body
  color: $behindColor
  background:
    color: $mainBackgroundColor

#content
  @include mainColor

a, a:link, a:visited, a:active, a:hover, #clickcomment
  text-decoration: none
  outline: none
  color: $mainLinkColor

a:hover, #clickcomment:hover
  @include revealColor

hr
  color: $lighterColor
  border-bottom: 1px solid $lighterColorBorderBottom

ul
  list-style: square

body, h1, h2, h3, h4, #entete, .tag
  font-family: Georgia, Palatino, "Century Schoolbook L", "Times New Roman", Times, serif
  line-height: 1.4em

.corps
  font-family: Georgia, Palatino, "Century Schoolbook L", "Times New Roman", Times, serif
  line-height: 1.6em
  text-align: justify

pre
  @include codeColor
  padding: 1em
  line-height: 1.2em

pre, code
  font:
    family: monaco, monospace
    size: 0.7em

p
  margin-bottom: 1.2em

blockquote
  @include highlight

abbr,
acronym
  font-variant: small-caps
  text:
    decoration: none
  border:
    bottom:
      width: 0

// -- STYLE --

#titre
  letter-spacing: -0.06em
  border:
    bottom: 4px double #CCC
    top: 4px double #CCC

#liens .active, #sousliens
  @include secondColor

// -- FOOTER --
#lastmod
  font-size: 0.8em

// --- DYNAMICS --
.nojsbutton
  font-size: 2.5em

#clickcomment
  cursor: pointer
  font-size: 1.2em

// -- TYPOGRAPHY --
.small
  font-size: 0.8em

.sc
  font-variant: small-caps

.impact, .darkimpact
  font-size: 2em
  margin: 0 auto 1em auto
  line-height: 1.3em

// -- DATES --

h1 > .date
  font-size: 0.6em
  color: $behindColor

.date
  color: $mainBackgroundColor
  border: 1px solid $lighterColor
  text-align: center
  font-size: 0.7em
  width: 4.1em
  line-height: 1.5em
  display: inline-block
  position: relative
  top: 2.75em
  left: -5em

.date .day
  color: $behindColor
  background-color: $mainBackgroundColor
  float: left
  width: 1.7em

.date .month
  float: right
  width: 2.3em
  background-color: $behindColor
  color: $mainBackgroundColor

.date .year
  line-height: 3ex
  clear: both
  @include secondColor

// --- LAYOUTS --
$VPadCorps: 3em
$VMarginCorps: 3em

// ATTENTION DOIT ETRE 0 pour le bon callage
$HMarginCorps: 0
$content_width: 52em

body
  text-align: center
  font-size: 1em

body > #entete
  position: absolute
  left: 0
  top: 0.5em
  width: 100%
  min-width: $content_width - 2em
  z-index: 8000
  padding-bottom: 1em
  margin-bottom: $VMarginCorps
  background-color: #111
  color: #AAA

#titre h2
  width: 80%
  margin-left: auto
  margin-right: auto
  text-align: center

#titre
  text-align: center
  width: 100%

#titre h1, #titre h2
  padding-left: 1em
  padding-right: 1em

// le pied de page
#bottom
  clear: right
  margin-right: 0px
  text-align: right
  padding: 1.5em
  line-height: 1.5em
  color: #ccc
  a
    color: #ccc
  a:hover
    @include revealColor

// Les menus

#sousliens
  padding: 1em 0
  line-height: 2em

#sousliens ul
  list-style: none
  margin-left: 4em


ul.horizontal li
  display: inline
  font-size: 0.9em

ul.horizontal
  margin-top: 0px
  margin-bottom: 0px

#entete
  padding-top: 0.1em
  border-top: 1px solid $lighterColorBorderTop
  margin-bottom: 2em

#liens
  width: 100%
  padding: 0
  clear: both
  margin-top: 0.5em

#liens ul
  width: 100%
  clear: both
  padding: 0
  margin: 0

$hauteur_menu: 4em

#liens ul li
  display: inline-block
  height: $hauteur_menu
  margin-left: 0.2em
  margin-right: 0.2em
  width: 23%

#liens ul li a,
#liens ul li span
  width: 100%
  display: block
  line-height: $hauteur_menu

// Un 'helper'
.clear
  clear: both

// Le Contenu
#content
  line-height: 4em
  margin-left: auto
  margin-right: auto
  margin-top: 0
  position: relative
  top: 5em
  clear: both
  width: $content_width


#content > #choix
  margin-top: 1em

#choix
  position: fixed
  left: 0
  right: 0
  top: 0
  background-color: #111
  color: #CCC
  z-index: 5000
  a
    color: #CCC 

$contentMargin: 0em

.encadre, .black, .red, .intro, .resume, .shadow
  padding:
    left: 2em
    right: 2em
  margin:
    top: 2em
    bottom: 2em

.encadre, .black, .red, .shadow
  @include secondColor

.intro, .resume
  font-size: .9em
  @include highlight

#afterheader > h1
  @include secondColor
  width: 100%
  padding-bottom: 1.5em

#afterheader
  padding-left: $contentMargin
  padding-right: $contentMargin

#sousliens
  margin:
    top: $VMarginCorps
    bottom: $VMarginCorps
  font-size: 1.2em
  letter-spacing: 1px
  text-align: left
  clear: both

.twilight
  line-height: 1.1em

$fontcorps: 1.25

.corps
  text-align: left
  padding: $VPadCorps 3em
  margin: 0 $HMarginCorps
  clear: both
  font-size: #{$fontcorps}em

$corps_width: ($content_width - 2 * $contentMargin) / $fontcorps
$hpadding: 1

.corps img
  max-width: 30em

//  les clear

#address
  clear: both

.definitionCell
  width: 5em
  vertical-align: top
  font-weight: bold
  text-align: center

.valueCell
  text-align: right

.smallblock
  float: left
  width: 50%
  font-size: 1em
  font-weight: bold

.largeblock
  float: right
  width: 70%
  font-size: 1em

#blackpage, #nojsredirect
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin-left: 0
  margin-right: 0
  margin-top: 0
  margin-bottom: 0
  position: fixed
  text-align: center

#blackpage
  color: #666666
  padding-top: 10em
  background-color: #eeeeee
  z-index: 9000
  cursor: wait
  img
    background: none
    border: none
  a
    cursor: pointer

#nojsredirect
  z-index: 9001

.nojsbutton
  width: 50%
  padding: 1em
  border: solid 3px white
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  z-index: 9002

.file
  font-size: 0.8em
  text-align: right
  float: right
  width: 80%
  margin-right: 0.3em

.flush
  clear: both

table.description
  border-spacing: 5px
  border-collapse: separate
  margin-right: auto
  margin-left: auto

table.description tr td
  padding-left: 0.5em
  padding-right: 0.5em
  padding-top: 0.5ex
  padding-bottom: 0.5ex
  vertical-align: middle
  margin-right: 5px

ul.long li
  margin-bottom: 1em

img
  display: block
  margin-left: auto
  margin-right: auto

img.left
  float: left
  max-width: 30%
  margin:
    right: 1em

img.inside
  display: inline
  vertical-align: middle

pre
  overflow: hidden

.withfile pre
  overflow: hidden
  width: 96.6%

.navigationprev, .navigationnext
  padding: 0px
  margin-left: 0.2em
  margin-right: 0.2em
  margin-bottom: 0
  margin-top: $VMarginCorps
  width: 45%

.navigation .navigationprev,
.navigation .navigationnext
  width: 30%
  margin-top: 0

.navigation
  font-size: 2em
  height: 2em
  margin-bottom: $VMarginCorps

.presarticleleft,
.presarticleright
  font-size: 1em

.navigationprev
  float: left
  text-align: left

.navigationnext
  float: right
  text-align: right

.impact, .darkimpact
  text-align: left
  width: 66%
  padding-left: 0.25em
  padding-right: 0.25em

table.impact
  text-align: left

table.impact tr td
  padding-left: 0.25em
  padding-right: 0.25em

#liens
  font-size: 1.5em

#iemessage
  font-size: 1.5em

.tag
  display: inline
  cursor: pointer
  margin-left: 0.5em
  margin-right: 0.5em

.list
  margin-top: $VPadCorps

#menuMessage
  font:
    size: 1.2em
  line:
    height: 1.5em
  width: 100%
  text-align: center

#choixrss
  float: right
  width: 25%

#entete
  #choixrss,
  #choixlang a
    margin-top: 0.3em
    height: 4em
    line-height: 4em

#choixlang a
  display: block
  width: 25%
  text-align: center

.date
  font-size: 0.8em

.date, .date .year, .date .month, .date .year
  display: block

#next_before_articles
  clear: both
  width: 100%
  font-size: 1.2em
  padding:
    top: 1em
    bottom: 1em

#previous_articles
  float: left
  margin-left: 1em
  width: 45%
  text-align: left

.previous_article, .next_article
  margin-top: 1em

#next_articles
  float: right
  width: 45%
  margin-right: 1em
  text-align: right

#choixlang
  padding-top: 0.1em

#choixlang a,
#clickcomment
  padding: 0.1em 1em

#clickcomment
  margin-left: 0
  width: 25%

#rss
  font-size: 1.2em
  text-align: center
  display: block
  width: 100%
  float: right
  padding: 0.1em 1em

.return a
  text-align: center
  float: right
  width: 25%
  padding: 0.1em 1em

.corps .return a
  color: $lighterColor

.return a:hover
  color: $mainLinkColor

.corps .return a
  padding: 0.1em
  line-height: 1.5em
  font-size: 1.5em
  height: 1.5em
  float: left
  font-size: 2em
  margin-top: -0.5em
  margin-left: -2em
  width: 1.5em

.footnotes
  font-size: 0.8em

.fontnotes ol
  margin-left: 0

.typeset img
  display: inline
  border: none
  margin: 0
  padding: 0

strong, b, i, .strong
  font-weight: normal
  color: $highlightColor



