-----

-----
/* Solarized palette */
$base03 : #002b36
$base02 : #073642
$base01 : #586e75
$base00 : #657b83
$base0  : #839496
$base1  : #93a1a1
$base2  : #eee8d5
$base3  : #fdf6e3
$yellow : #b58900
$orange : #cb4b16
$red    : #dc322f
$magenta: #d33682
$violet : #6c71c4
$blue   : #268bd2
$cyan   : #2aa198
$green  : #859900

$unit: 20px
$lineheight: $unit * 1.5
$hmargin: 4*$unit

html
  padding: 0
body
  padding: 0
  margin: 0
  font-family: 'Droid Sans', Helvetica, sans-serif !important
  font-size: $unit
  line-height: $lineheight
  background: $base02
  color: $base1

a
  text-decoration: none
  color: $yellow
a:visited
  color: $blue
a:hover
  color: $orange


#blackpage, #nojsredirect
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  margin-left: 0
  margin-right: 0
  margin-top: 0
  margin-bottom: 0
  position: fixed
  text-align: center
  background: $base02

#content
  width: 37*$unit + 2*$hmargin
  margin: 0 auto
  padding: 0
  h1,h2,h3,h4,h5,h6
    color: $base0
    padding: 0 $hmargin
    margin: $unit 0
  figure
    margin: 0
    padding: 0
    figcaption
      padding: 0 $hmargin
      margin: $unit 0
  p
    padding: 0 $hmargin
    margin: $unit 0
  img
    width: 100%
  pre
    background: $base3
    font-family: monaco, monospace
    font-size: 0.8*$unit
    overflow: auto
    padding: $unit
    line-height: 1.4 * 0.8 * $unit
    border-top: solid 1px $base2
    border-bottom: solid 1px $base2
  pre code
    background: $base3
  ul
    list-style: none
  ul li:before
    content: "- "
  ul
    padding-left: 0
    margin: $unit $hmargin
    // width of '-'
    text-indent: -($unit/2)
  ol
    padding-left: 0
    margin: $unit $hmargin
  .toc, #markdown-toc
    a
      color: $base01
    ol li, ul li
      margin: ($unit/2) 0
  ol li ul, ol li ol, ul li ol, ul li ul
    margin: ($unit/2) (3*$unit/2)
    list-style: none
  li p
    display: inline
    margin: 0
    padding: 0

#entete > #choix > #choixrss
  margin: 0
  padding: 0
#entete > #choix > #choixlang
  float: left

#choixlang
  float: left
#choix
  text-align: center
#choix > div
  display: inline-block


#choix
  text-align: center
  font-size: (3*$unit / 4)
  background: $base03
  padding: 0 $unit
  font-weight: bold
  .return
    float: right
.cut
  font-size: (3*$unit / 4)
  opacity: .5
.cut:hover
  opacity: 1
hr
  color: $base2
  border-color: $base2
  margin: 0 $hmargin
p code, li code
  padding: 1px 2px
  background: $base3
  border: solid 1px $base2
blockquote
  border: solid 1px $base2
  background: $base3
  code
    background: $base2
    border: solid 1px rgba(0,0,0,0.1)

// Specific elements
#social,#choixrss,#comment
  margin: $unit $hmargin
#social
  float: left
  opacity: 0.3
  &:hover
    opacity: 1
#choixrss
  float: right
  opacity: 0.3
  &:hover
    opacity: 1
#comment
  img
    width: auto
    max-width: 100%
.intro
  font-size: 14px
  line-height: 21px
  color: $base02
.left
  float: left
.right
  float: right
#content
  img.right, img.left
    max-width: 30%
.flush
  clear: both

#bottom
  padding: $unit 0
  text-align: center
  font-size: 14px
  line-height: 21px
#entete
  padding: $unit 0
  text-align: center
  ul
    text-indent: 0
  ul li:before
    content: ""
  ul li
    display: inline-block
    span.active
      color: $yellow
  ul li > *
    padding: 2px $unit
    border: solid
#previous_articles
  float: left
  text-align: left
#next_articles
  float: right
  text-align: right
.corps
  padding-bottom: 2*$unit

#tagcloud
  margin: $unit $hmargin
  font-size: 14px
  line-height: 21px
#sousliens.archive > ul
  display: none
#sousliens.archive > h4:hover
  cursor: pointer
#hiddenDivs > div
  display: none
.list
  margin: $unit $hmargin
#content img#mainlogo
  width: auto
  margin: 0 auto
  display: block
  max-width: 100%
.date, .day, .month, .year
  display: inline-block
  padding-left: 10px
  text-align: right
.day
  width: 10px
.month
  width: 20px
.year
  width: 30px
.date
  margin-right: 10px

.popularblock
  display: block
  float: left
  margin: 1.5%
  width: 30%
  figure
    width: 100%
    height: 120px
    overflow: hidden
    figcaption
      display: none

// classes for colors
.base03
  color: $base03
.base02
  color: $base02
.base01
  color: $base01
.base00
  color: $base00
.base0
  color: $base0
.base1
  color: $base1
.base2
  color: $base2
.base3
  color: $base3
.yellow
  color: $yellow
.orange
  color: $orange
.red
  color: $red
.magenta
  color: $magenta
.violet
  color: $violet
.blue
  color: $blue
.cyan
  color: $cyan
.green
  color: $green

// Presentation
#content
  section.slide
    & > *
      padding: 0 $unit
    margin-bottom: 2*$unit
    background-color: $base03
    border-radius: 3px
    color: $base1
    padding: $unit 0
    box-shadow: 0 0 $unit #000 inset
    a
      text-decoration: none
      color: $base00
    a:visited
      color: $base01
    pre
      padding: $unit
      margin: $unit
    pre,code
      background-color: $base02
      border: 1px solid $base01
      code
        border: none
        background: none
    blockquote
      background-color: $base02
      border-color: $base01
    h1,h2,h3,h4,h5,h6
      color: $base0
    ul li
      margin: .5em 1.5em
    img
      display: block
      max-width: 80%
      margin: $unit auto
      padding: .5*$unit
      background-color: $base02
      border: solid 1px $base01
    img.right, img.left, figure.right, figure.left
      max-width: 30%
      margin: .5*$unit
      figcaption
        padding: 0
    figure
      max-width: 80%
      margin: 0 auto
      img
        max-width: 80%
