-----

-----
/* Solarized palette */
$base03 : #002b36
$base02 : #073642
$base01 : #586e75
$base00 : #657b83
$base0  : #839496
$base1  : #93a1a1
$base2  : #eee8d5
$base3  : #fdf6e3
$yellow : #b58900
$orange : #cb4b16
$red    : #dc322f
$magenta: #d33682
$violet : #6c71c4
$blue   : #268bd2
$cyan   : #2aa198
$green  : #859900

$unit: 16px
$lineheight: $unit * 1.5

html
  padding: 0
body
  padding: 0
  margin: 0
body
  font-family: Helvetica, sans-serif !important
  font-size: $unit
  line-height: $lineheight
  background: $magenta
  color: $base01

a
  text-decoration: none
  color: $base02
a:visited
  color: $base00

#content
  width: 40em
  margin: 0 auto
  padding: 0
  background: #FFF
  color: #444
  h1,h2,h3,h4,h5,h6
    color: #222
    padding: 0 $unit
    margin: (2*$unit) 0
  figure
    margin: 0
    padding: 0
    figcaption
      padding: 0 $unit
      margin: (2*$unit) 0
  p
    padding: 0 (2*$unit)
    margin: $unit 0
  img
    width: 100%
  pre
    font-family: monaco, monospace
    overflow: auto
    padding: 16px
    line-height: 18px
  ul
    list-style: none
  ul li:before
    content: "- "
  ul
    padding-left: 0
    margin-left: 33px
    text-indent: -10px
  ol
    padding-left: 0
    margin-left: 32px
  .toc
    ol li, ul li
      margin: .5em 0
  ol li ul, ol li ol, ul li ol, ul li ul
    margin: .5em 1.5em
    list-style: none
  li p
    display: inline
    margin: 0
    padding: 0

#choix
  font-size: 12px
  padding: 0 16px
  .return
    float: right
.cut
  font-size: 12px
  opacity: .5
.cut:hover
  opacity: 1
hr
  color: $base2
  border-color: $base2
  padding: 0 32px
  margin: 0 32px
